* { margin: 0; padding: 0; border: 0; }

a {
	color: #369152;
	font-weight: 400;
	text-decoration: none;
}

a:hover, a:visited, a:link, a:active, a:focus {
	color: #7ce69c;
	text-decoration: underline;
}

body {
	background: url('./assets/grey.png') #f2f2f2;
	color: #222;
	font: 300 'Oxygen', Helvetica, arial, sans-serif;
	line-height: 1.2;
}

#header {
	margin-top: 20px;
}

#header #header-container {
	margin: 0 auto;
	display: block;
}

#header #header-container #header-content {
	width: 600px;
	margin: 0 auto;
	position: relative;
}

#header-title {
	text-align: left;
	vertical-align: top;
	display: block;
	font-weight: 600;
	font-size: 60px;
	line-height: 85px;
	word-wrap: break-word;
	color: #222;
}

#header-subtitle {
	text-align: left;
	display: block;
	padding-bottom: 10px;
	color: #b0b0b0;
	font-size: 16px;
	line-height: 16px;
}

#header-social {
	position: absolute;
	right: 0;
	top: 20px;
	width: 107px;
}

button {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	background-color: #CECECB;
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
	font-weight: 700;
	font-size: 20px;
}

input {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	font-weight: 700;
}

h1 {
	font-size: 30px;
	font-weight: 400;	
}

ul {
	list-style: none;
}

.description {
	font-weight: 300;
}

#sub-header,
#footer {
	width: 600px;
	margin: 25px auto;
	padding: 0 20px;
	font-size: 18px;
	line-height: 1.4em;
}

#footer {
	text-align: center;
}

.sublist {
	margin-left: 20px;
}

.content {
	width: 540px;
	height: 280px;
	padding: 10px;
	background: rgba(230, 230, 230, 0.45);
	text-align: center;
	color: #999;
	font-weight: 300;
	margin: 10px auto;
	position: relative;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.box {
	width: 540px;
	margin: 0 auto;
}

.box .field {
	margin: 20px auto;
	font-size: 20px;
}

#filename {
	text-align: right;
}
